.main-content{
    min-height: calc(100vh - $height-header);
    max-height: calc(100vh - $height-header);
    overflow: scroll;
    display: flex;
    & .content{
        flex: 1;
        & .page-content{
            padding: 10px;
        }
    }
    & .sidebar{
        width: 60px;
        max-height: calc(100vh - $height-header);
        overflow-y: scroll;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        background: #1C1E21; /* fallback for old browsers */
        overflow-x: hidden;
        border-radius: 0 5px 5px 0 ;
        overflow-y: hidden;
        &--list{
            height: 100%;
            display: flex;
            flex-direction: column;
            &__item{
                text-align: center;
                padding: 15px 0px;
                cursor: pointer;
                transition:all 0.2s ease;
                background-color: transparent;
                color: #ffffff91;
                position: relative;
                & span,i{
                    font-size: 24px;
                }
                &:hover{
                    background-color: white;
                    border-radius: 50%;
                    & span,i{
                        color: black;
                    }
                }
                &.active{
                    background-color: white;
                    & span,i{
                        color: black;
                    }
                    &::after{
                        left: 80%;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    left: 100%;
                    border-radius: 50%;
                    top: -25px;
                    bottom: -25px;
                    width: 100px;
                    background-color: white;
                    transition:all 0.2s ease;
                }
            }
            & li:last-child{
                margin-top: auto;
            }
        }
        
    }
}