.todoList{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    width: 100%;
    min-height: calc(100vh - $height-header - 20px);
    &-new{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 5px;
        width: 300px;
        &--list{
            display: flex;
            flex-direction: column;
            gap: 20px;
            min-height: calc(100vh - $height-header - 40px);
            max-height: calc(100vh - $height-header - 40px);
            overflow-y: scroll;
            padding: 10px;
            cursor: pointer;
            border-radius: 16px;
            
            &__item{
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                padding: 5px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                transition: 0.2s ease;
                position: relative;
                &__action{
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    display: none;
                    gap: 7px;
                }
                &:hover &__action{
                        display: flex;
                }
                &--tags{
                }
                &--bottom{
                    &__action{
                        & span{
                            cursor: pointer;
                            &:hover{
                                color: #3D7FF3
                            }
                        }
                    }
                }
            }
            
        }
    }
}